body{
    font-family: Arial;
    color: white;
}
#Login{
    background-image: url("../Image/bachkhoa1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.Login{
    height: 100%;
    background-color: rgba(52, 73, 94,0.7);
    float: right;
}
.Login .title{
    margin-top: 20%;
    text-align: center;
}
.Login .content{
    margin-top: 20%;
}